:root {
  --primary-color: #006633;
  --accent: #c0462e;
  --secondary-color: #cc6955;
  --background: #ffffff;
  --text: #000000;
}
.head {
  background: radial-gradient(
    circle at right center,
    #c0462e 16%,
    #006633 50%,
    #cc6955 84%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 700;
}
.para {
  word-wrap: break-word;
  margin: 20px auto;
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
}
.text {
  max-width: 800px;
}
.image-container {
  max-width: 100%;
}
.image-container img {
  width: 1500px;
  height: auto;
}
.navigation_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
  background-color: var(--primary-color);
  padding: 10px;
}
.navigation_bar div {
  display: flex;
  margin: 10px;
  align-items: center;
}
.navigation_bar a {
  color: var(--background);
  text-decoration: none;
  font-size: 18px;
}
/*image styling*/
img {
  max-width: 100%;
  height: auto;
}
.image1 {
  width: 300px;
  border: 2px solid var(--accent);
  padding: 8px;
}
.image2 {
  width: 300px;
  height: 225px;
  border: 2px solid var(--accent);
  padding: 8px;
}
.image3 {
  width: 300px;
  border: 2px solid var(--accent);
  padding: 8px;
}
.image4 {
  width: 300px;
  height: 225px;
  border: 2px solid var(--accent);
  padding: 8px;
}
.image5 {
  width: 900px;
  height: 250px;
  border: 2px solid var(--accent);
  padding: 8px;
}
.image6 {
  width: 800px;
  height: 250px;
  border: 2px solid var(--accent);
  padding: 8px;
}
.image7 {
  width: 700px;
  height: 250px;
  border: 2px solid var(--accent);
  padding: 8px;
}
.image8 {
  width: 600px;
  height: 250px;
  border: 2px solid var(--accent);
  padding: 8px;
}
.image13 {
  width: 900px;
  height: 250px;
  border: 2px solid var(--accent);
  padding: 8px;
}
.image14 {
  width: 800px;
  height: 250px;
  border: 2px solid var(--accent);
  padding: 8px;
}
.image15 {
  width: 700px;
  height: 250px;
  border: 2px solid var(--accent);
  padding: 8px;
}
.image16 {
  width: 600px;
  height: 250px;
  border: 2px solid var(--accent);
  padding: 8px;
}
.image9,
.image10,
.image11,
.image12 {
  border: 2px solid var(--accent);
  padding: 8px;
}
.image-container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.image-container1 div {
  margin: 20px;
}
.image-container2,
.image-container3,
.image-container4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.image-container2 div,
.image-container3 div,
.image-container4 div {
  margin: 20px;
}
.image1:hover,
.image2:hover,
.image3:hover,
.image4:hover,
.image5:hover,
.image6:hover,
.image7:hover,
.image8:hover,
.image9:hover,
.image10:hover,
.image11:hover,
.image12:hover,
.image13:hover,
.image14:hover,
.image15:hover,
.image16:hover {
  border: 2px solid var(--primary-color);
  /*animation: ease-out 5s;*/
}

@media screen and (max-width: 700px) {
  .image-container1,
  .image-container2,
  .image-container3,
  .image-container4 {
    display: block;
  }
  .image1,
  .image2,
  .image3,
  .image4 {
    width: 100%;
  }
  .image13,
  .image14,
  .image15,
  .image16 {
    width: 100%;
    height: 400px;
  }
}
@media screen and (max-width: 745px) {
  .image-container1,
  .image-container2,
  .image-container3,
  .image-container4 {
    display: block;
  }
  img {
    width: 100%;
  }
  .col-5,
  .col-7 {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .image-container1,
  .image-container2,
  .image-container3,
  .image-container4 {
    display: block;
  }
  img {
    width: 100%;
  }
  .col-5,
  .col-7 {
    width: 100%;
  }
}
